{%extends "./base.html" %}
{%block titulo %}{{titulo}}{% endblock%}
{%block contenido%}
    <div class="container">
        <div class="row">
            <h1>Programa: {{this_show.id}}</h1>
            <a href="/">Volver</a>
        </div>
        <div class="row">
            <h4>Titulo: {{this_show.title}}</h4>
            <h4>Network: {{this_show.network}}</h4>
            <h4>Fecha de lanzamiento: {{release_date_format}}</h4>
            <div class="col-sm-2">
                <h4>Descripcion:</h4>
            </div>
            <div class="col-sm-10">
                <p class="lead">{{this_show.desc}}</p>
            </div>
        </div>
        <div class="row">
            <h6>Ultima Actualización: {{this_show.updated_at}}</h6>
        </div>
        <div class="row">
            <div class="d-flex justify-content-start">
                <div class="col-sm-2">
                    <a href="/{{this_show.id}}/edit">Editar</a> | <a href="{{this_show.id}}/destroy">Borrar</a>
                </div>
            </div>
        </div>
    </div>
    {%endblock%}