{%extends "./base.html" %}
{%block titulo %}{{titulo}}{% endblock%}
{%block contenido%}
    <div class="container">
        <div class="row">
            <h1> Todos los Programas</h1>
        </div>
        <div class="row">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>ID</th>
                    <th>Titulo</th>
                    <th><i class="fas fa-globe-americas"></i> Network</th>
                    <th><i class="fas fa-calendar-day"></i> Fecha de lanzamiento</th>
                    <th>Acciones</th>
                </tr>
                {% for shows in all_shows %}
                <tr>
                    <td>{{shows.id}}</td>
                    <td>{{shows.title}}</td>
                    <td>{{shows.network}}</td>
                    <td>{{shows.release_date}}</td>
                    <div id="tablelinks">
                        <td><a href="/shows/{{shows.id}}"><i class="fas fa-eye"></i></a>| <a
                                href="/{{shows.id}}/edit"><i class="fas fa-edit"></i></a>| <a
                                href="/shows/{{shows.id}}/destroy"><i class="fas fa-trash"></i></a></td>
                    </div>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="row">
            <a href="/shows/new">Agregar un nuevo programa</a>
        </div>
        {%endblock%}