<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset = "utf-8">
        <title><i class="fas fa-tv"></i>Programas de TV</title>
        <meta name="viewport" content="width-device-width, initial-scale-1">
        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://kit.fontawesome.com/c8a52125e9.js" crossorigin="anonymous"></script>
    </head>
    <div class="container">
        <body>
            <div class= "row">
                <h1><i class="fas fa-tv"></i> Todos los Programas</h1>
            </div>
            <div class = "row">
                <table class= "table table-bordered table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th><i class="fas fa-globe-americas"></i> Network</th>
                        <th><i class="fas fa-calendar-day"></i> Fecha de lanzamiento</th>
                        <th>Acciones</th>
                    </tr>
                    {% for shows in all_shows %}
                    <tr>
                        <td>{{shows.id}}</td>
                        <td>{{shows.title}}</td>
                        <td>{{shows.network}}</td>
                        <td>{{shows.release_date}}</td>
                        <div id="tablelinks">
                            <td><a href="/shows/{{shows.id}}"><i class="fas fa-eye"></i></a>| <a href="/{{shows.id}}/edit"><i class="fas fa-edit"></i></a>| <a href="shows/{{shows.id}}/destroy"><i class="fas fa-trash"></i></a></td>
                        </div>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class = "row">
                <a href="/shows/new">Agregar un nuevo programa</a>
            </div>
        </body>
    </div>